.flat {
    border-right: 3px solid silver;
    box-sizing: border-box;
}
.flat:nth-child(3n) {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        display: block;
        background-color: #222222;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        top: calc(50% - 8px);
        left: calc(50% - 8px);
    }
}