.fret {
  border-right: 3px solid silver;
  box-sizing: border-box;
  background-color: bisque;
  width: 100%;
  max-width: 75px;
  box-sizing: border-box;
  position: relative;
  &__value {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    display: inline-block;
    border-radius: 50%;
    background: white;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: red;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    font-family: Arial;
    z-index: 3;
    &--selected {
      background: tomato;
      color: white;
    }
  }
  &.zero {
    border-right: 3px solid black;
    border-left: 3px solid black;
    box-sizing: border-box;
    background-color: white;
    width: 30px;
    box-sizing: border-box;
    .string--value {
      background-color: #ccc;
    }
  }
}
.fret.zero:nth-child(3n) {
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    background-color: #222222;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    z-index: 1;
  }
}
.fret.zero:nth-child(12n) {
  &:after {
    top: 42px;
  }
  &:before {
    top: auto;
    bottom: 42px;
  }
}
