.string {
    height: 50px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    position: relative;

    .fret {
        border-bottom: 1px solid black;
    }
    &:first-child > .fret {
        border-top: 1px solid black;
    }
}
