.string {
    height: 50px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    position: relative;
    &--value {
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 10px);
        display: inline-block;
        border-radius: 50%;
        background: white;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        color: red;
        font-weight: 500;
        font-size: 13px;
        cursor: pointer;
        font-family: Arial;
        z-index: 2;
    }
}
.string:first-child {
    border-top: 1px solid black;
}